.hero {
  /* background-color: antiquewhite; */
  background-image: url(../../../../public/hero.jpg);
  /* object-fit: cover; */
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 25rem;
  padding: 0;
  margin: 0;
}

.img_overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  transition: all 0.3s ease-in-out;
  z-index: 1;
  background-color: #191b22;
  opacity: 0.7;
}

/* .jobs_list_wrapper {
    max-width: 1024px;
    margin: 0 auto;
  } */

.hero_headings {
  position: relative;
  padding-top: 6rem;
  color: white;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* width: 56%; */
  /* margin: 0 auto; */
  text-align: center;
  align-items: center;
  word-break: break-word;
  z-index: 10;
}

.hero_headings h1 {
  margin: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: normal;
}

/* .hero_headings p {
  margin: 0.6rem 0;
  font-size: clamp(2rem, 50%, 3rem);
  font-weight: normal;
} */

.hero_headings p {
  font-size: 1.125rem;
  line-height: 1.6rem;
  /* margin-bottom: 0; */
  padding: 0 5.8rem;
  margin-bottom: 2rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.intrested_btn {
  font-weight: bold;
  color: var(--white);
  background-color: #6875e2;
  padding: 0.9rem 1.5rem;
  border: 1px solid #6875e2;
  border-radius: var(--border-radius);
  outline: none;
}

.refer_btn {
  font-weight: bold;
  color: var(--white);
  /* background-color: var(--lightblue); */
  padding: 0.9rem 1.5rem;
  border: 1px solid #ffff;
  border-radius: var(--border-radius);
  outline: none;
}

.icons_list {
  display: flex;
  justify-content: center;
}

.icons_list li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .hero_headings {
    position: relative;
    padding-top: 2rem;
  }

  .hero_headings h3 {
    padding: 0 2rem;
    line-height: 1.5;
  }

  .hero_headings p {
    font-size: 1.125rem;
    line-height: 1.4rem;
    /* margin-bottom: 0; */
    padding: 0 2rem;
    margin-bottom: 2.6rem;
  }
}

.job_details_section {
  margin-top: 2rem;
  display: flex;
  border-top: 1px solid #e5e9f3;
}

.right {
  width: 30%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.right span {
  display: block;
  margin: 0.6rem 0;
}
.left {
  width: 70%;
  padding-right: 2rem;
  border-right: 1px solid #e5e9f3;
}
