/* .form_wrapper {
  max-width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid blueviolet;
} */

.form {
  max-width: 640px;
  padding: 1rem 1.5rem;
}

.form fieldset {
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 600px); */
  grid-template-columns: minmax(auto, 600px);
  border: none;
  outline: none;
}

@media screen and (max-width: 339px) {
  .form fieldset {
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: minmax(auto, 275px);
    border: none;
    outline: none;
  }
}

.form legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.first_name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.first_name input {
  flex-grow: 1;
}

/* .first_name select {
  flex-shrink: 2;
} */

@media screen and (max-width: 350px) {
  .first_name input {
    width: clamp(150px, 50%, 220px);
  }
}

.form input {
  margin-top: 0.3rem;
  height: 2.2rem;
  padding: 18px 5px;
  border-radius: 6px;
  border: 2px solid grey;
  text-indent: 7px;
  font-size: 1rem;
}

.form select {
  margin-top: 0.3rem;
  height: 2.2rem;
  padding: 18px 5px;
  grid-column: 1;
  border-radius: 6px;
  border: 1px solid grey;
  background-color: none;
  color: black;
}

.attachment input {
  border: 2px dashed grey;
}
