/* .form_wrapper {
  max-width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid blueviolet;
} */

.form {
  max-width: 640px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

.form fieldset {
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 600px); */
  grid-template-columns: minmax(auto, 600px);
  border: none;
  outline: none;
}

.form legend {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.first_name_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.first_name_wrapper input {
  flex-grow: 1;
}

/* .first_name select {
  flex-shrink: 2;
} */

.form input {
  border-radius: 6px;
}

.first_name,
.last_name,
.email,
.mobile,
.street,
.postal_code,
.city,
.state,
.linkedin,
.github,
.behance,
.portoflio,
.other {
  margin-top: 0.3rem;
  text-indent: 10px;
  border: 2px solid grey;
  padding: 8px 5px;
  height: 2.4rem;
  font-size: 1rem;
}

.form select {
  margin-top: 0.3rem;
  height: 2.4rem;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid grey;
  font-size: 1rem;
}

.photo,
.resume {
  margin-top: 0.3rem;
  padding: 8px 5px;
  border: 2px dashed grey;
  width: 280px;
  height: 2.6rem;
  font-size: 1rem;
}

.buttons_wrapper {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_btn {
  outline: none;
  background-color: #6875e2;
  border: none;
  color: white;
  /* padding: 2rem 2rem; */
  width: 190px;
  /* margin-right: 1rem; */
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
}

.cancel_btn {
  outline: none;
  background-color: #6875e2;
  border: none;
  color: white;
  /* padding: 2rem 2rem; */
  width: 95px;
  height: 42px;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width: 350px) {
  .buttons_wrapper {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .first_name_wrapper input {
    width: clamp(150px, 50%, 200px);
  }

  .form fieldset {
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    display: grid;
    grid-template-columns: minmax(auto, 280px);
    border: none;
    outline: none;
  }
}
